<main>
  <h1 class="font-bold">This is Todo Page</h1>
  <form (submit)="onAddTodo($event)" class="flex gap-1.5">
    <input
      (input)="onAddInputValue($event)"
      class="h-14 border rounded-md px-[16px] py-[12px]"
      type="text"
      [value]="inputVal$ | async"
      placeholder="할 일을 입력해 주세요"
    />
    <button type="submit" class="h-14 rounded-md px-[16px] py-[12px] cursor-pointer bg-blue-400">추가하기</button>
  </form>

  <div *ngFor="let todo of todos$ | async">
    <div class="flex gap-1.5 items-center mt-4">
      <label [ngClass]="[todo.completed ? 'line-through text-gray-400' : '']" [for]="todo.text">
        <input type="checkbox" [id]="todo.text" [checked]="todo.completed" (change)="onToggleTodo(todo.id)" />
        {{ todo.text }}
      </label>
      <button
        (click)="onDeleteTodo(todo.id)"
        [ngClass]="[
          'rounded-md px-[16px] py-[12px] cursor-pointer transition-colors duration-200 ease-in-out',
          todo.completed ? 'bg-gray-400 text-white' : 'bg-red-400'
        ]"
      >
        삭제하기
      </button>
    </div>
  </div>
</main>
